<h2 class="form_header">Page Relationships</h2>
<div class="form_container">
  <div>
    <h3 style="color: black">Parent Page</h3>
    <%= @page_parent %>
  </div>

  <div>
    <% if @page_children.count > 0 %>
      <ul class="level">
        <h3 class="level_title relationship_title">Child Pages</h3>
        <% @page_children.each do |page| %>
          <li class="edit_page_page_li">
            <h4 class="edit_page_li_page_title">
              <%= page[1] %>
            </h4>
            <div class="edit_page_li_options">
              <%= link_to "Edit", edit_page_path(page[0]), class: "edit_page_page_link yellow", remote: true %>
              <%= link_to "Delete", delete_page_path(page[0]), data: {confirm: "Are you sure? This will irreversibly delete this page and all pages belonging to it"}, method: :delete, class: "edit_page_page_link crimson", remote: true %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
    <% end %>
  </div>

  <div>
    <h3 style="color: black">Parent Convergences</h3>
    <!-- <%= @page_parent_convergences %>
    <%= @page_parent_convergences_pages %> -->
    <% if @page_parent_convergences.count > 0 %>
    <ul class="level">
      <h3 class="level_title relationship_title">Parent Convergences</h3>
      <% @page_parent_convergences %>
    </ul>
    <% else %>
    <% end %>
  </div>

  <div>
    <h3 style="color: black">Child Convergences</h3>
    <%= @page_child_convergences %>
    <%= @page_child_convergences_pages %>
  </div>
</div>

<script type="text/javascript">
  $('.relationship_title').click(function() {
    $(this).parent().children(".edit_page_page_li").toggle();
  });
</script>
