<% if story.persisted? %>
  <% if story.has_first_page? %>
    <%= link_to "Edit First Page", edit_page_path(story.pages.first), remote: true %>
  <% else %>
    <%= render partial: 'pages/form', locals: {first_page_check: true} %>
  <% end %>
<% end %>


<% if story.has_first_page? %>
  <% (story.levels[0]..story.levels[1]).each do |level| %>
    <ul class="level">level: <%= level %>
    <% story.pages.where(level: level).each do |page| %>
      <li class="edit_page_page_li"><%= page.title %> <%= link_to "Edit", edit_page_path(page), class: "edit_page_page_link", remote: true %> </li>
    <% end %>
  </ul>
  <% end %>
<% end %>
