<div id="story_left_container">
  <div id="story_form_container">
    <h2 class="form_header">Story Form</h2>
    <%= form_for @story, html: {class: "form_container"} do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :summary %>
      <%= f.text_area :summary %>

      <%= f.label :published %>
      <%= f.check_box :published %>

      <%= f.submit %>
    <% end %>
  </div>

    <div id="editable_pages_container">
      <%= render partial: 'editable_pages', locals: {story: @story} %>
    </div>
</div>




<div id="forms_right_container">
  <div id="form_area">
  </div>

  <div id="page_add_area" >
  </div>
</div>
