<div class="container" style="width:40%; float:left;">
  <%= form_for @story, html: {id: "story_form"} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br/>
    <%= f.label :summary %>
    <%= f.text_area :summary %>
    <br/>

    <%= f.label :published %>
    <%= f.check_box :published %>

    <% if @story.persisted? %>
      <% if @story.has_first_page? %>
        <%= link_to "Edit First Page", edit_page_path(@story.pages.first), remote: true %>
      <% else %>
        <%= render partial: 'pages/form' %>
      <% end %>
    <% end %>


    <% if @story.has_first_page? %>
      <% (@story.levels[0]..@story.levels[1]).each do |level| %>
        <ul class="level">
        <% @story.pages.where(level: level).each do |page| %>
          <li class="edit_page_page"><%= page.title %> <%= link_to "Edit", edit_page_path(page), remote: true %> </li>
        <% end %>
        </div>
      <% end %>
    <% end %>


    <%= f.submit %>
  <% end %>
</div>



<div id="form_area" style="width: 50%; float:right; border:1px solid black;">
</div>

<div id="page_add_area" style="width: 50%; float:right; border:1px solid black;">
</div>
