<div class="container" style="width:40%; float:left;">
  <%= form_for @story, html: {id: "story_form"} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br/>
    <%= f.label :summary %>
    <%= f.text_area :summary %>
    <br/>

    <%= f.label :published %>
    <%= f.check_box :published %>

    <%= f.submit %>
  <% end %>
  
  <div id="editable_pages_container">
    <%= render partial: 'editable_pages', locals: {story: @story} %>
  </div>

</div>



<div id="form_area" style="width: 50%; float:right; border:1px solid black;">
</div>

<div id="page_add_area" style="width: 50%; float:right; border:1px solid black;">
</div>
